.checkmark {
  position: absolute;
  font-size: 24px;
  color: green;
  visibility: hidden;
  z-index: 1000;
}

.checkmark.animate {
  visibility: visible;
  animation: flyCheckmark 0.75s forwards;
}

@keyframes flyCheckmark {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translateX(95vw) translateY(-95vh);
    opacity: 0;
  }
}
