.categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--color-white);
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 6px auto;
}

.tag-label {
  font-weight: "bold";
  width: 100%;
  text-align: left;
  margin-bottom: 4px;
}

#tag-select {
  height: 30px;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-xsmall);
}

#tag-select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}