/* SearchBar.css */
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  max-width: 300px;
  margin: 0 auto;
  color: var(--color-black);
}
.search-bar input {
  width: 100%;
  max-width: 300px;
  height: 30px;
  text-indent: 6px;
  padding-right: 8px;
}
.search-bar input:focus {
  box-shadow: 0 0 0 0;
  outline: 1px solid var(--color-pink-xlight);
  border: 0;
}

.productSearch {
  padding-bottom: 4px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
}

.search-results {
  display: block;
  max-height: 400px;
  overflow-y: auto;
  /* background: white; */
  border-radius: 4px;
  position: absolute;
  top: 63px;
  /* width: calc(100% - 2px); */
  max-width: calc(100vw - 1vmin);
  z-index: 1000; /* Ensure it's above other content */
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  /* border-bottom: 1px solid var(--color-black); */
  background-color: var(--color-pink-xlight);
  margin-bottom: 5px;
}

.search-result-item:last-child {
  border-bottom: none;
}

.search-result-item span {
  display: block; /* Ensure text doesn't overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-result-item:hover {
  background-color: var(--color-pink-xlight);
}

#search-result-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 10px;
  align-items: flex-start;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

.search-result-info {
  display: flex;
  flex-direction: column;
}

.search-result-title {
  text-align: left;
  font-weight: bold;
}

.search-result-discount {
  color: var(--color-red);
  margin-right: 5px;
}

.search-result-normal-price {
  color: var(--color-red);
  margin-left: 10px;
  text-decoration: line-through;
}

.search-result-price.discounted {
  color: black;
  margin-left: 5px;
}

.search-result-price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
}

.star,
.star-half,
.bi-star,
.bi-star-fill {
  color: var(--color-gold-search); /* Gold color for stars */
}

.search-result-rating {
  display: flex;
  align-items: center;
}
