.bi {
  display: flex;
  align-items: center;
}

.bi-moon {
  font-size: var(--font-size-xsmall);
  margin: 0 0 0 8px;
}

.bi-sun {
  margin: 0 6px 0 0;
}

.bi-search,
.bi-sliders {
  cursor: pointer;
}

.search-bar-visible {
  min-height: 110px !important;
}
