.bi {
  display: flex;
  /* margin: 0 6px; */
  align-items: center;
}

.bi-moon {
  font-size: var(--font-size-xsmall);
  margin: 0 0 0 8px;
}

.bi-sun {
  /* font-size: var(--font-size-small); */
  /* font-size: var(--font-size-icons); */
  margin: 0 6px 0 0;
}

.bi-search,
.bi-sliders {
  /* font-size: var(--font-size-xsmall); */
  cursor: pointer;
}
