.bi {
  display: flex;
  margin: 0 6px;
  align-items: center;
}

.bi-moon {
  font-size: var(--font-size-small);
  margin: 0 0 0 8px;
}
.bi-search,
.bi-sliders {
  font-size: var(--font-size-small);
  cursor: pointer;
}

.header-content-row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.search-and-filter-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 6px auto;
}
