.navbar,
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
#navbar {
  margin: 0 0 6px 0;
}

.nav-links {
  margin-right: 0.5em;
  gap: 0.5em;
}

li {
  padding: 4px 6px 4px 6px;
  margin: 0 auto;
  background-color: var(--color-pink);
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  font-size: var(--font-size-xsmall);
  transition: all ease-out 0.1s;
}

li:hover {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.08);
}

#navbar a {
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--font-size-xsmall);
}

#navbar a.active {
  color: var(--color-pink-light);
  text-decoration: underline;
}