.sort-and-filter-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--color-pink);
  color: var(--color-white);
  align-items: center;
  padding: 20px;
  width: 100vw;
  font-size: var(--font-size-xsmall);
  margin: 0 auto;
  gap: 6px;
}